body {
    background-image: linear-gradient(to top right, #C5C5C5 10%, #E5E5E5 100%);
}


html {
	font-size: 10px;
	font-family: monospace;
	scroll-behavior: smooth;
}

#about {
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#personalInfo h2 {
    padding-top: 40px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}


#profile-image {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50vh;
    border-radius: 25px;

}

#personalInfo p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}


#csuf h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(218, 158, 81);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#calstatefullerton {
   /* border-radius: 15px; */
    max-height: 100vh;
    width: 55%;
}

#csuf p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}


#uci h2 {
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(218, 158, 81);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#uCIrvine {
    border-radius: 15px;
    max-height: 100vh;
    width: 55%;
}

#uci p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}



#foodforthought h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    color: rgb(218, 158, 81);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
}

#project-one {
    border-radius: 15px;
    max-height: 110vh;
    width: 35%;
}

#foodforthought p {
    padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

#weatherdash h2 {
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
	color: rgb(0, 102, 255)
}

#weatherdashboard {
	border-radius: 15px;
    width: 100%;
}

#weatherdash p {
	padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

#codingquiz h2{
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
	color: #1dd3ae;
}

#codequiz {
	border-radius: 15px;
    width: 100%;
}

#codingquiz p{
	padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

#dayPlanner h2 {
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
	color: #17ad17;
}

#workDayPlanner {
	border-radius: 15px;
    width: 100%;
}


#dayPlanner p {
	padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

#passwordGenerator h2{
	padding-top: 40px;
    padding-bottom: 5px;
    font-size: 50px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
	color: rgb(83, 79, 79);
}

#pwgen {
	border-radius: 15px;
    width: 100%;
}


#passwordGenerator p {
	padding-top: 15px;
    font-size: 20px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 450;
    text-align: center;
    max-width: 50vw;
    color: rgb(90, 65, 3);
}

.container {
	/* width: 100vw; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: palegoldenrod;
    padding-left: 25px;
}

/* header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 1000%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: aqua;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
    background-color: #708090;
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #708090;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 15px;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
    border-radius: 5px;
	background-color: burlywood;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.2s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: gold;
        font-family: Garamond, Tahoma, sans-serif;
		font-size: 50px;
	}
}

@keyframes text_reveal_name {
	100% {
		color: whitesmoke;
        font-family: Garamond, Tahoma, sans-serif;
		font-size: 40px;
	}
}

#hero h1 {
    font-size: 5rem;
}

/* End Keyframes */

#date {
	font-size: 2em;
	color: rgb(83, 54, 212)
}

.img2 {
	height: 55%
}

#more-works {
	padding-top: 100px;
}

.section-title {
    padding-top: 200px;
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

#contact .contact-items {
	width: 100%;
}

#contact {
	padding-top: 20px;
	padding-bottom: 50px;
}

.contact-container {
	display: grid;
	align-items: center;
	justify-content: space-evenly;
}

.contact-columns {
	display: grid;
	align-items: center;
	justify-content: space-evenly;
	/* justify-items: center; */
}

.contact-item {
	
	
	/* text-align: center; */
	border-radius: 10px;
	padding: 50px;
	margin: 2%;
	width: 18vw;
	/* margin: 15px; */
	/* display: flex; */
	/* justify-content: center;
	align-items: center;
	flex-direction: column; */
	box-shadow: 0px 0px 8px 3px #0000002c;
	transition: 0.3s ease box-shadow;
}

.contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

.icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

.contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
} 

.workdayplanner h2 {
	color: black
}

.pwgen he {
	color: black
}

/* Media Query For Desktop */
@media only screen and (min-width: 1216px) {
	
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	#search .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}


}

@media only screen and (max-width: 821px) {

#weatherdash h2{
	font-size: 49.5px;
}

#uci p{
	font-size: 16.6px;
}

}

@media only screen and (max-width: 813px) {

	#weatherdash h2{
		font-size: 48.5px;
	}
	
}

@media only screen and (max-width: 851px) {

	#weatherdashboard {
		width: 95%;
	}

	#codequiz {
		width: 95%;
	}

	.img2 {
		height: 45%
	}

	#weatherdash h2{
		font-size: 49.5px;
	}

	#dayPlanner h2{
		font-size: 45px;
	}

	#dayPlanner p {
		max-width: 100%;
	}

	#passwordGenerator h2 {
		font-size: 40px;
	}
	
	#passwordGenerator p {
		max-width: 100%;
	}
}

@media only screen and (max-width: 1170px) {

.time {
	padding-top: 10px;
	text-align: center;
}
#date {
	font-size: 1.5em;
}

}

@media only screen and (max-width: 929px) {
	
	#passwordGenerator h2 {
		font-size: 49.5px;
	}

}

@media only screen and (max-width: 920px) {
	
	#passwordGenerator h2 {
		font-size: 49px;
	}

}

@media only screen and (max-width: 914px) {
	
	#passwordGenerator h2 {
		font-size: 49px;
	}

}

@media only screen and (max-width: 912px) {

#uci p{
	font-size: 18.5px;
}
}


@media only screen and (max-width: 910px) {
	
	#passwordGenerator h2 {
		font-size: 48.5px;
	}

}

@media only screen and (max-width: 901px) {
	
	#passwordGenerator h2 {
		font-size: 48px;
	}

}

@media only screen and (max-width: 892px) {
	
	#passwordGenerator h2 {
		font-size: 47.5px;
	}

}

@media only screen and (max-width: 883px) {
	
	#passwordGenerator h2 {
		font-size: 47px;
	}

}

@media only screen and (max-width: 874px) {
	
	#passwordGenerator h2 {
		font-size: 46px;
	}

}


@media only screen and (max-width: 857px) {
	
	#passwordGenerator h2 {
		font-size: 45.8px;
	}

}


@media only screen and (max-width: 781px) {

	#codingquiz h2{
		font-size: 48.5px;
	}
	
}

@media only screen and (max-width: 768px) {


	#csuf P {
		max-width: 100%;
	}

	#uci p {
		max-width: 100%;
	}
	#weatherdash p {
		max-width: 100%;
	}

	#codingquiz p {
		max-width: 100%;
	}

	.contact-item {
		margin: 12%;
		padding: 25px;
		padding-top: 40px;
	}

	.contact-columns {
		display: grid;
		align-items: center;
		justify-content: space-evenly;
		justify-items: center;
	}

	.brand h1 {
		font-size: 2rem;
	}

	.brand h1 span {
		padding-left: 5px;
	}

	#project-one {
		max-height: 150vh;
		width: 35vw;
	}
}


/* iphone 12 - Media Queries*/
@media only screen and (max-width: 850px) {

	#header .hamburger {

		margin-right: 2px;
	}

	.brand h1 {
		font-size: 1.9rem;
	}

	
	#hero .hero {
		padding-top: 80px;
	}

	#hero h1 {
		
		font-size: 5px;
	}
	
	#personalInfo p {
		max-width: 100%;
	}

	#foodforthought h2 {
		font-size: 35px;
	}
	
	#foodforthought p {
		max-width: 100%;
	}

	#project-one {
		max-height: 200vh;
		width: 65vw;
	}

	#weatherdashboard {
		max-height: 100%;
		max-width: 100%;
	}

	.contact-item {
		width: 100%;
		padding: 50px;
	}

}


@media only screen and (max-width: 550px ) {
	@keyframes text_reveal {
		100% {
			color: gold;
			font-family: Garamond, Tahoma, sans-serif;
			font-size: 35px;
		}
	}
	
@keyframes text_reveal_name {
		100% {
			color: whitesmoke;
			font-family: Garamond, Tahoma, sans-serif;
			font-size: 25px;
		}
	}
}

@media only screen and (max-width: 390px ) {
	@keyframes text_reveal {
		100% {
			color: gold;
			font-family: Garamond, Tahoma, sans-serif;
			font-size: 30px;
		}
	}
	
@keyframes text_reveal_name {
		100% {
			color: whitesmoke;
			font-family: Garamond, Tahoma, sans-serif;
			font-size: 20px;
		}
	}
}

/* Galaxy Fold - Media Queries - Smallest Size Screen */

@media only screen and (max-width: 387px) {

	#header .hamburger {

		margin-right: -5px;
	}

	.brand h1 {
		font-size: 1.2rem;
	}

	#personalInfo p {
		font-size: 15px;
	}

	#foodforthought h2 {
		font-size: 30px;
	}
	
	#foodforthought p {
		font-size: 15px;
	}

	#weatherdash h2 {
		font-size: 30px;
	}

	#weatherdash p {
		font-size: 15px;
	}

	#codingquiz h2 {
		font-size: 30px;
	}

	#codingquiz p {
		font-size: 15px;
	}

	#dayPlanner h2 {
		font-size: 30px
	}

	#dayplanner p {
		font-size: 15px;
	}

	#passwordGenerator h2 {
		font-size: 30px;
	}
	
	#passwordGenerator p {
		font-size: 15px;
	}
}


/* End of Media Queries */